body {
	background-color:#ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 960px;
	height:1200px;
}

header {
	height: 100px;
	background-color: #ffffff;
}

#navWrapper {
	width: 100%;
	clear:both;
	height:50px;
}

#logo {
	float: left;
	position: relative;
	bottom: -20px;
	margin-left:30px;
	background-color:#4aaaa5;
	color: white;
	width:20%;
	text-align: center;
	height:80px;
}

#name {
	margin-top: 35px;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
}

#nav {
	margin-top: 25px;
	float:right;
	display:inline;
	list-style: none;
}

nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: #222;
    padding: 5px;
    margin-top: 15px;
}

a {
	text-decoration: none;
	color: #777777;
}

section {
	height: 320px;
	width: 100%;
	background-image: url('../images/metal.png'); //WTF why did that command work
}

.mainContent {
	position: relative;
	top: 20px;
	width: 580px;
	height:280px;
	float:left;
	margin-left: 30px;
	background-color:#ffffff;
}

#head_1 {
	color:#4aaaa5;
	font-size: 25px;
	margin-left: 20px;
	margin-top: 10px;
}

h2 {
	text-align: center;
	color:#4aaaa5;
	font-size: 20px; // why not getting bigger
	padding-top:5px;
}

#image {
	float:left;
	padding: 20px;
}

.text {
	padding-top:20px;
}
 
aside {
	position: relative;
	right: 30px;
	top: 20px;
	width: 250px;
	height: 80px;
	clear: all;
	float: right;
	background-color: #ffffff;
}

.icon {
	height:50px;
	width: 50px;
	margin-right:20px;
}

#icon1 {
}

footer {
	width:100%;
	height: 50px;
	background-color: #666666;
	text-align:center;
	color:#777777;
	clear:left;
	margin-top: 20px;
}

.inputField {
	margin-left: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}

textarea {
	height: 60px;
}


